* {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 350px;
    width: 500px;
    gap: 30px;
    box-shadow: hsl(221, 100%, 96%) 0px 7px 29px 0px;
    border-radius: 5%;
}

.result {
    background-color: hsl(252, 100%, 55%, 1);
    grid-row: span 6;
    border-radius: 10%;
}

.circle {
    background-color: hsla(241, 72%, 45%, 1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
}

.large {
    color: hsl(0, 0%, 100%);
    padding-top: 40px;
    text-align: center;
    font-size: 45px;
}

.small {
    text-align: center;
    color: hsl(241, 100%, 89%)
}

.result h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    color: hsl(241, 100%, 89%);
}

h1 {
    text-align: center;
    margin-top: 15px;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}

h1+p {
    text-align: center;
    font-size: 13px;
    color: hsl(241, 100%, 89%);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

h2 {
    font-size: 18px;
    margin-top: 25px;
}

.reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 100%, 95%);
    margin-right: 30px;
}

.memory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(39, 100%, 95%);
    margin-right: 30px;
}

.verbal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(166, 100%, 95%);
    margin-right: 30px;
}

.visual {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: hsl(234, 85%, 95%);
    margin-right: 30px;
}

.reaction p {
    color: hsl(0, 100%, 67%);
}

.memory p {
    color: hsl(39, 100%, 50%);
}

.verbal p {
    color: hsl(166, 100%, 30%);
}

.visual p {
    color: hsl(234, 85%, 45%);
}

span {
    font-size: 15px;
    color: hsl(224, 30%, 27%);
}

.out-of {
    font-size: 15px;
    color: hsl(224, 30%, 75%);
}

button {
    background-color: hsl(241, 94%, 21%);
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

button:hover {
    background-color: hsla(256, 72%, 46%, 1);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1439px) and (min-width: 375px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 90vh;
        width: 100%;
    }

    .result {
        grid-row: span 1;
        border-top-left-radius: 0 ;
        border-top-right-radius:0 ;
    }

    .circle {
        height: 100px;
        width: 100px;
    }

    .large {
        padding-top: 10px;
    }

    h1 + p {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 50px;
    }

    h2 {
        margin-top: 0px;
        padding-left: 30px;
    }

    .reaction {
        margin-left: 30px;
    }

    .memory {
        margin-left: 30px;
    }

    .verbal {
        margin-left: 30px;
    }

    .visual {
        margin-left: 30px;
    }

    button {
        margin-left: 30px;
        padding: 8px;
    }

    .attribution {
        padding-top: 50px;
    }
}